<!DOCTYPE html>
<html lang="ka">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>პოსტები - ჩემი ბლოგი</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
    <link rel="stylesheet" href="/global.css" />
    <link rel="stylesheet" href="/header.css" />
    <link rel="stylesheet" href="/index.css" />
  </head>
  <body>
    <!-- Header-ის ჩასმა -->
    <%- include('header', { username: "test user" }) %>

    <div class="container">
      <main>
        <% if (posts.length === 0) { %>
        <p>პოსტები არ მოიძებნა</p>
        <% } else { %>

        <p><%= username %></p>
        <button class="view-btn" style="margin-bottom: 1rem;">განლაგების შეცვლა</button>

        <!-- თითოეული პოსტისთვის posts სიაში article თაგის გამოჩენა -->
        <div class="blog-container">
          <% posts.forEach(post => { %>
          <article class="blog-post">
            <h2>
              <!-- პოსტის სათაური და ბმული -->
              <a href="/posts/<%= post.id %>"><%= post.name %></a>
            </h2>
            <!-- პოსტის ტექსტი -->
            <p><%= post.text %></p>
          </article>
          <% }) %>
        </div>
        <% } %>
      </main>
    </div>
    <script src="/index.js"></script>
  </body>
</html>
