<!DOCTYPE html>
<html lang="ka">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><% if (post) { %><%= post.name %> - <% } %>Bloggy</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
    <link rel="stylesheet" href="/global.css" />
    <link rel="stylesheet" href="/header.css" />
    <link rel="stylesheet" href="/post.css" />
  </head>
  <body>
    <!-- Header-ის ჩასმა -->
    <%- include('header') %>

    <div class="container">
      <% if (post === null) { %>
      <!-- თუ პოსტი ვერ მოიძებნა -->
      <h1>პოსტი ვერ მოიძებნა</h1>
      <% } else { %>
      <!-- სხვა შემთხვევაში -->
      <article>
        <header class="post-header">
          <!-- პოსტის სათაური -->
          <h1 class="post-title"><%= post.name %></h1>
        </header>
        <div class="post-content">
          <!-- პოსტის ტექსტი -->
          <p><%= post.text %></p>
        </div>

        <div class="post-buttons">
          <form action="/posts/<%= post.id %>/delete" method="POST">
            <button>წაშლა</button>
          </form>

          <!-- /posts/3657576576/edit -->
          <a href="/posts/<%= post.id %>/edit">რედაქტირება</a>

          <!-- მოწონების მოქმედება -->
          <form action="/posts/<%= post.id %>/like" method="POST">
            <button class="outline">
              <% if (post.liked) { %> 💗 <% } else { %> 🤍 <% } %>
            </button>
          </form>
          <!-- ejsout -->
          <span><%= post.views %> 👀</span>
        </div>
      </article>
      <% } %>
      <!-- დაბრუნება მთავარ გვერდზე -->
      <a href="/">← ყველა პოსტი</a>
    </div>
  </body>
</html>
