<!DOCTYPE html>
<html lang="ka">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><% if (post) { %><%= post.name %> - <% } %>Bloggy</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
    <link rel="stylesheet" href="/global.css" />
    <link rel="stylesheet" href="/header.css" />
    <link rel="stylesheet" href="/post.css" />
  </head>
  <body>
    <!-- Header-рЃўрЃА рЃЕрЃљрЃАрЃЏрЃљ -->
    <%- include('header') %>

    <div class="container">
      <% if (post === null) { %>
      <!-- рЃЌрЃБ рЃърЃЮрЃАрЃбрЃў рЃЋрЃћрЃа рЃЏрЃЮрЃўрЃФрЃћрЃЉрЃюрЃљ -->
      <h1>рЃърЃЮрЃАрЃбрЃў рЃЋрЃћрЃа рЃЏрЃЮрЃўрЃФрЃћрЃЉрЃюрЃљ</h1>
      <% } else { %>
      <!-- рЃАрЃ«рЃЋрЃљ рЃерЃћрЃЏрЃЌрЃ«рЃЋрЃћрЃЋрЃљрЃерЃў -->
      <article>
        <header class="post-header">
          <!-- рЃърЃЮрЃАрЃбрЃўрЃА рЃАрЃљрЃЌрЃљрЃБрЃарЃў -->
          <h1 class="post-title"><%= post.name %></h1>
        </header>
        <div class="post-content">
          <!-- рЃърЃЮрЃАрЃбрЃўрЃА рЃбрЃћрЃЦрЃАрЃбрЃў -->
          <p><%= post.text %></p>
        </div>

        <p>рЃљрЃЋрЃбрЃЮрЃарЃў: <%= post.author !== undefined ? post.author : "рЃљрЃюрЃЮрЃюрЃўрЃЏрЃБрЃарЃў" %></p>
        <div class="post-buttons">

          <% if (post.author === username) { %>
            <form action="/posts/<%= post.id %>/delete" method="POST">
              <button>рЃгрЃљрЃерЃџрЃљ</button>
            </form>

            <!-- /posts/3657576576/edit -->
            <a href="/posts/<%= post.id %>/edit">рЃарЃћрЃЊрЃљрЃЦрЃбрЃўрЃарЃћрЃЉрЃљ</a>
          <% } %>

          <!-- рЃЏрЃЮрЃгрЃЮрЃюрЃћрЃЉрЃўрЃА рЃЏрЃЮрЃЦрЃЏрЃћрЃЊрЃћрЃЉрЃљ -->
          <form action="/posts/<%= post.id %>/like" method="POST">
            <button class="outline">
              <% if (post.liked) { %> ­ЪњЌ <% } else { %> ­ЪцЇ <% } %>
            </button>
          </form>
          <!-- ejsout -->
          <span><%= post.views %> ­ЪЉђ</span>
        </div>
      </article>
      <% } %>
      <!-- рЃЊрЃљрЃЉрЃарЃБрЃюрЃћрЃЉрЃљ рЃЏрЃЌрЃљрЃЋрЃљрЃа рЃњрЃЋрЃћрЃарЃЊрЃќрЃћ -->
      <a href="/">Рєљ рЃДрЃЋрЃћрЃџрЃљ рЃърЃЮрЃАрЃбрЃў</a>
    </div>
  </body>
</html>
